* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  display: flex;
  background-color: #333;
  justify-content: space-between;
  align-items: center;
}
.flex {
  display: flex;
}
